In [ ]:
#Creating  A DATAFERAME
#Importing the Pandas library
import pandas as pd

In [ ]:
#Creating a DataFrame
#Dataframe With Default Labels 0,1,2,3....
pd.DataFrame({'COMPUTER SCIENCE':["Calculas 1","Linear Algebra","Discreet Mathematics","Intro to Programing"] ,'MEDICINE':["Molecular Biology","Anatomy","Cellular Organisms","Bacterial Organisms"],'BUSSINES':["Finance 1","Economics 2","Marketting Fundamentals","Market Laws"] })

In [ ]:
#Creating Dataframes Assigning Labels
pd.DataFrame({'AFRICA':["Egypt","South Africa","Kenya","Nigeria"],'ASIA':["China","Japan","Pakistan","Korea"]},index=['Country A','Country B','Country C','Country D'])

In [ ]:
#Creating Series with Default Index
pd.Series([1,2,3,4,5])

In [ ]:
#Creating Series with Created Lables
pd.Series([1,2,3,4,5],index=["First","Second","Third","Fourth","Fifth"])

In [ ]:
# Reading DataFrames
#Using the pd.read_csv("Directory/") Function
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv",index_columns=0)

In [ ]:
#Reading Json DataFrames
df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
df.head()

In [21]:
#Accessing the Link Column of The Dataset
df.link

0         https://www.huffpost.com/entry/covid-boosters-...
1         https://www.huffpost.com/entry/american-airlin...
2         https://www.huffpost.com/entry/funniest-tweets...
3         https://www.huffpost.com/entry/funniest-parent...
4         https://www.huffpost.com/entry/amy-cooper-lose...
                                ...
209522    https://www.huffingtonpost.com/entry/rim-ceo-t...
209523    https://www.huffingtonpost.com/entry/maria-sha...
209524    https://www.huffingtonpost.com/entry/super-bow...
209525    https://www.huffingtonpost.com/entry/aldon-smi...
209526    https://www.huffingtonpost.com/entry/dwight-ho...
Name: link, Length: 209527, dtype: object

In [22]:
df.link[2]#Pulls Off The Second Link  from the dataset(Index two)

'https://www.huffpost.com/entry/funniest-tweets-cats-dogs-september-17-23_n_632de332e4b0695c1d81dc02'

In [23]:
#Indexing using ILOC amd LOC
df.iloc[0]

link                 https://www.huffpost.com/entry/covid-boosters-...
headline             Over 4 Million Americans Roll Up Sleeves For O...
category                                                     U.S. NEWS
short_description    Health experts said it is too early to predict...
authors                                           Carla K. Johnson, AP
date                                               2022-09-23 00:00:00
Name: 0, dtype: object

In [24]:
#Accesses ONE COLUMN INDEX
df.iloc[:,3]

0         Health experts said it is too early to predict...
1         He was subdued by passengers and crew when he ...
2         "Until you have a dog you don't understand wha...
3         "Accidentally put grown-up toothpaste on my to...
4         Amy Cooper accused investment firm Franklin Te...
                                ...
209522    Verizon Wireless and AT&T are already promotin...
209523    Afterward, Azarenka, more effusive with the pr...
209524    Leading up to Super Bowl XLVI, the most talked...
209525    CORRECTION: An earlier version of this story i...
209526    The five-time all-star center tore into his te...
Name: short_description, Length: 209527, dtype: object

In [25]:
# to select just the second and third entries, we would do:
df.iloc[1:3,0]

1    https://www.huffpost.com/entry/american-airlin...
2    https://www.huffpost.com/entry/funniest-tweets...
Name: link, dtype: object

In [44]:
#It's also possible to pass a list:
df.iloc[[0,1,2,3],0]

0    https://www.huffpost.com/entry/covid-boosters-...
1    https://www.huffpost.com/entry/american-airlin...
2    https://www.huffpost.com/entry/funniest-tweets...
3    https://www.huffpost.com/entry/funniest-parent...
Name: link, dtype: object

In [46]:
#Displays the Last  Five Records
df.iloc[-5:]

,link,headline,category,short_description,authors,date
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [29]:
#There are only so many words you can use when describing news Category
#Is a wine more likely to be "TECH" or "SPORTS"? 
#Create a Series descriptor_counts counting how many times each of these two words appears in the Category column in the dataset.
#(For simplicity, let's ignore the capitalized versions of these words.)
import pandas as pd
df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
n_Tech= df.category.map(lambda desc:'TECH' in desc).sum()
n_Sports = df.category.map(lambda desc:'SPORTS' in desc).sum()
descriptor_counts = pd.Series([n_Tech, n_Sports], index=['TECH', 'SPORTS'])

In [30]:
df.loc[0,'authors']

'Carla K. Johnson, AP'

In [18]:
#Select few Columns
df.loc[:,['short_description','authors','date']]

,short_description,authors,date
0,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...
209522,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,The five-time all-star center tore into his te...,,2012-01-28

In [54]:
#Manipulating the index
df.set_index('short_description')

,link,headline,category,authors,date
short_description,,,,,
Health experts said it is too early to predict whether demand would match up with the 171 million doses of the new boosters the U.S. ordered for the fall.,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,"Carla K. Johnson, AP",2022-09-23
"He was subdued by passengers and crew when he fled to the back of the aircraft after the confrontation, according to the U.S. attorney's office in Los Angeles.",https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,Mary Papenfuss,2022-09-23
"""Until you have a dog you don't understand what could be eaten.""",https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,Elyse Wanshel,2022-09-23
"""Accidentally put grown-up toothpaste on my toddler’s toothbrush and he screamed like I was cleaning his teeth with a Carolina Reaper dipped in Tabasco sauce.""",https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,Caroline Bologna,2022-09-23
Amy Cooper accused investment firm Franklin Templeton of unfairly firing her and branding her a racist after video of the Central Park encounter went viral.,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Nina Golgowski,2022-09-22
...,...,...,...,...,...
Verizon Wireless and AT&T are already promoting LTE devices including smartphones and tablets from RIM's rivals. RIM's first,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,"Reuters, Reuters",2012-01-28
"Afterward, Azarenka, more effusive with the press than normal, credited her coach of two years, Sam Sumyk, for his patient",https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,,2012-01-28
"Leading up to Super Bowl XLVI, the most talked about game could end up being one that occurred a few years ago. After all",https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,,2012-01-28
CORRECTION: An earlier version of this story incorrectly stated the location of KTVU and the 2011 league leader in sacks,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,,2012-01-28
The five-time all-star center tore into his teammates Friday night after Orlando committed 23 turnovers en route to losing,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,,2012-01-28

In [55]:
#Manipulating the index
df.set_index('category')

,link,headline,short_description,authors,date
category,,,,,
U.S. NEWS,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
U.S. NEWS,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
COMEDY,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
PARENTING,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
U.S. NEWS,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...
TECH,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
SPORTS,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
SPORTS,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...","Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
SPORTS,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,CORRECTION: An earlier version of this story i...,,2012-01-28
SPORTS,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,The five-time all-star center tore into his te...,,2012-01-28

In [58]:
#Conditional selection
df.categoryC=='U.S.NEWS'

0         False
1         False
2         False
3         False
4         False
          ...
209522    False
209523    False
209524    False
209525    False
209526    False
Name: category, Length: 209527, dtype: bool

In [19]:
df.loc[df.category=='SPORTS']

,link,headline,category,short_description,authors,date
17,https://www.huffpost.com/entry/dodgers-basebal...,"Maury Wills, Base-Stealing Shortstop For Dodge...",SPORTS,"Maury Wills, who helped the Los Angeles Dodger...","Beth Harris, AP",2022-09-20
26,https://www.huffpost.com/entry/2022-wnba-final...,"Las Vegas Aces Win First WNBA Title, Chelsea G...",SPORTS,Las Vegas never had a professional sports cham...,"Pat Eaton-Robb, AP",2022-09-19
61,https://www.huffpost.com/entry/boston-marathon...,Boston Marathon To Make Race More Inclusive Fo...,SPORTS,The race's organizers say nonbinary athletes w...,Sanjana Karanth,2022-09-12
62,https://www.huffpost.com/entry/anthony-varvaro...,"Anthony Varvaro, MLB Pitcher Turned Transit Co...",SPORTS,Varvaro pitched mostly with the Atlanta Braves...,,2022-09-12
67,https://www.huffpost.com/entry/carlos-alcaraz-...,Carlos Alcaraz Wins U.S. Open For 1st Slam Tit...,SPORTS,Carlos Alcaraz defeated Casper Ruud in the U.S...,"HOWARD FENDRICH, AP",2022-09-11
...,...,...,...,...,...,...
209460,https://www.huffingtonpost.com/entry/time-warn...,Thank You James Dolan and Time Warner,SPORTS,"Given the Knicks 7-13 record, James Dolan and ...","Kelli Gail, Contributor\nFreelance writer",2012-01-29
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [35]:
df.short_description

0         Health experts said it is too early to predict...
1         He was subdued by passengers and crew when he ...
2         "Until you have a dog you don't understand wha...
3         "Accidentally put grown-up toothpaste on my to...
4         Amy Cooper accused investment firm Franklin Te...
                                ...
209522    Verizon Wireless and AT&T are already promotin...
209523    Afterward, Azarenka, more effusive with the pr...
209524    Leading up to Super Bowl XLVI, the most talked...
209525    CORRECTION: An earlier version of this story i...
209526    The five-time all-star center tore into his te...
Name: short_description, Length: 209527, dtype: object

In [24]:
df.shape

(209527, 6)

In [31]:
#Creating  a DataFrame
import pandas as pd
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])

In [32]:
#Creating a Series of The Name Dinner
import pandas as pd
ingredients =pd.Series(["4 cups","1 cup","2 large","1 can"],index=['Flour','Milk','Eggs','Spam'],name='Dinner')

In [ ]:
#Saving Files
#In the cell below, write code to save this DataFrame to disk as a csv file with the name cows_and_goats.csv.
animals.to_csv("cows_and_goats.csv")

In [33]:
df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [5]:
#Create a series star_ratings with the number of stars corresponding to each of the Category in the dataset.
def stars(row):
    if row.category == 'U.S. NEWS':
        return 3
    elif row.category == 'COMEDY':
        return 3
    elif row.category == 'PARENTING':
        return 2
    else:
        return 1

star_ratings = df.apply(stars,axis='columns')

In [4]:
#GROUPING AND SORTING
import pandas as pd
#Reading Json DataFrames
df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
#Grouping
df.groupby('category').category.count()

category
ARTS               1509
ARTS & CULTURE     1339
BLACK VOICES       4583
BUSINESS           5992
COLLEGE            1144
COMEDY             5400
CRIME              3562
CULTURE & ARTS     1074
DIVORCE            3426
EDUCATION          1014
ENTERTAINMENT     17362
ENVIRONMENT        1444
FIFTY              1401
FOOD & DRINK       6340
GOOD NEWS          1398
GREEN              2622
HEALTHY LIVING     6694
HOME & LIVING      4320
IMPACT             3484
LATINO VOICES      1130
MEDIA              2944
MONEY              1756
PARENTING          8791
PARENTS            3955
POLITICS          35602
QUEER VOICES       6347
RELIGION           2577
SCIENCE            2206
SPORTS             5077
STYLE              2254
STYLE & BEAUTY     9814
TASTE              2096
TECH               2104
THE WORLDPOST      3664
TRAVEL             9900
U.S. NEWS          1377
WEDDINGS           3653
WEIRD NEWS         2777
WELLNESS          17945
WOMEN              3572
WORLD NEWS         3299
WORLDPOST          2579
Name: category, dtype: int64

In [6]:
df.groupby('date').date.count()

date
2012-01-28     66
2012-01-29     65
2012-01-30    100
2012-01-31    100
2012-02-01    100
             ...
2022-09-19      6
2022-09-20      6
2022-09-21      6
2022-09-22      5
2022-09-23      4
Name: date, Length: 3890, dtype: int64

In [8]:
df.groupby('category').date.max()

category
ARTS             2017-01-28
ARTS & CULTURE   2018-01-29
BLACK VOICES     2022-06-27
BUSINESS         2022-08-25
COLLEGE          2018-02-07
COMEDY           2022-09-23
CRIME            2022-09-04
CULTURE & ARTS   2022-09-22
DIVORCE          2014-04-17
EDUCATION        2022-09-07
ENTERTAINMENT    2022-09-20
ENVIRONMENT      2022-09-18
FIFTY            2017-02-05
FOOD & DRINK     2022-08-04
GOOD NEWS        2017-08-09
GREEN            2018-01-17
HEALTHY LIVING   2018-01-16
HOME & LIVING    2022-07-11
IMPACT           2020-10-30
LATINO VOICES    2021-04-17
MEDIA            2022-07-27
MONEY            2021-10-21
PARENTING        2022-09-23
PARENTS          2018-02-06
POLITICS         2022-09-19
QUEER VOICES     2022-07-23
RELIGION         2021-10-09
SCIENCE          2022-09-03
SPORTS           2022-09-20
STYLE            2018-01-19
STYLE & BEAUTY   2022-08-08
TASTE            2018-01-16
TECH             2022-09-21
THE WORLDPOST    2017-10-13
TRAVEL           2022-04-07
U.S. NEWS        2022-09-23
WEDDINGS         2019-10-22
WEIRD NEWS       2022-09-18
WELLNESS         2022-08-30
WOMEN            2022-07-01
WORLD NEWS       2022-09-22
WORLDPOST        2017-02-12
Name: date, dtype: datetime64[ns]

In [10]:
df.groupby('category').date.min()

category
ARTS             2014-04-18
ARTS & CULTURE   2015-07-01
BLACK VOICES     2012-01-29
BUSINESS         2012-01-28
COLLEGE          2014-04-18
COMEDY           2012-01-28
CRIME            2012-02-11
CULTURE & ARTS   2012-01-28
DIVORCE          2012-01-30
EDUCATION        2014-04-18
ENTERTAINMENT    2012-01-28
ENVIRONMENT      2012-01-28
FIFTY            2014-04-18
FOOD & DRINK     2012-01-30
GOOD NEWS        2014-04-22
GREEN            2014-04-18
HEALTHY LIVING   2014-04-18
HOME & LIVING    2012-01-28
IMPACT           2012-01-28
LATINO VOICES    2014-04-22
MEDIA            2014-04-18
MONEY            2012-02-29
PARENTING        2012-01-28
PARENTS          2014-04-18
POLITICS         2014-04-18
QUEER VOICES     2012-01-28
RELIGION         2014-04-18
SCIENCE          2012-01-28
SPORTS           2012-01-28
STYLE            2014-04-18
STYLE & BEAUTY   2012-01-28
TASTE            2014-04-18
TECH             2012-01-28
THE WORLDPOST    2015-07-09
TRAVEL           2012-01-28
U.S. NEWS        2018-05-27
WEDDINGS         2012-01-29
WEIRD NEWS       2014-04-19
WELLNESS         2012-01-28
WOMEN            2014-04-18
WORLD NEWS       2017-04-09
WORLDPOST        2014-04-18
Name: date, dtype: datetime64[ns]

In [16]:
df.groupby('headline').count()

,link,category,short_description,authors,date
headline,,,,,
,6,6,6,6,6
"""2 Guns"": Two Pros In Action",1,1,1,1,1
"""3 Days to Kill"" Proves Costner's Still Got It",1,1,1,1,1
"""4% Rule"" Serves as Guideline for Today's Retirees, But Use With Caution",1,1,1,1,1
"""@Large"" and Absent, Ai Weiwei on Alcatraz",1,1,1,1,1
...,...,...,...,...,...
’19 Kids And Counting’ Father Running For Arkansas Senate,1,1,1,1,1
’N Sync's Chris Kirkpatrick Says He 'Couldn't Be In The Same Room' As This Backstreet Boy,1,1,1,1,1
"“I’m Sorry""--The Two Tragically Forgotten Words In Customer Service",1,1,1,1,1
“To The Bone” Didn’t Teach Me Glamour. It Taught Me Respect.,1,1,1,1,1
"“We Shall Overcomb!” Say The 100,000 Marching Against Trump In London",1,1,1,1,1

In [15]:
df.groupby('headline').apply(lambda df: df.short_description.iloc[0])

headline

"2 Guns": Two Pros In Action                                                                 It helps that the supporting cast is almost as...
"3 Days to Kill" Proves Costner's Still Got It                                               Kevin Costner is starring in the new action fl...
"4% Rule" Serves as Guideline for Today's Retirees, But Use With Caution                     An estimated 10,000 baby boomers turn age 65 e...
"@Large" and Absent, Ai Weiwei on Alcatraz                                                   The United States' most storied island prison,...
                                                                                                                   ...
’19 Kids And Counting’ Father Running For Arkansas Senate                                    Jim Bob Duggar, who previously served in the A...
’N Sync's Chris Kirkpatrick Says He 'Couldn't Be In The Same Room' As This Backstreet Boy    The former boy banders apparently did not like...
“I’m Sorry"--The Two Tragically Forgotten Words In Customer Service                          Unfortunately, I was one of those frustrated p...
“To The Bone” Didn’t Teach Me Glamour. It Taught Me Respect.                                 Oftentimes, films or TV shows about eating dis...
“We Shall Overcomb!” Say The 100,000 Marching Against Trump In London                        Thousands of activists descended on London to ...
Length: 207996, dtype: object

In [19]:
#agg(), which lets you run a bunch of different functions on your DataFrame simultaneously.
#For example, we can generate a simple statistical summary of the dataset as follows:

df.groupby(['headline']).date.agg([len,min,max])

                                                    len        min        max
headline
                                                      6 2014-08-28 2015-08-22
"2 Guns": Two Pros In Action                          1 2013-08-03 2013-08-03
"3 Days to Kill" Proves Costner's Still Got It        1 2014-02-22 2014-02-22
"4% Rule" Serves as Guideline for Today's Retir...    1 2012-04-04 2012-04-04
"@Large" and Absent, Ai Weiwei on Alcatraz            1 2014-10-06 2014-10-06
...                                                 ...        ...        ...
’19 Kids And Counting’ Father Running For Arkan...    1 2021-10-31 2021-10-31
’N Sync's Chris Kirkpatrick Says He 'Couldn't B...    1 2021-06-09 2021-06-09
“I’m Sorry"--The Two Tragically Forgotten Words...    1 2017-04-10 2017-04-10
“To The Bone” Didn’t Teach Me Glamour. It Taugh...    1 2017-07-18 2017-07-18
“We Shall Overcomb!” Say The 100,000 Marching A...    1 2017-01-25 2017-01-25

[207996 rows x 3 columns]

In [21]:
#Multi-indexes
Index_Dataframe= df.groupby(['category', 'headline']).short_description.agg([len,max])
Index_Dataframe

                                                              len  \
category  headline
ARTS      "@Large" and Absent, Ai Weiwei on Alcatraz            1
          "Age Shall Not Weary Them" - Shakespeare and Me...    1
          "Cartographia: Artifacts of a Creative Journey,...    1
          "Feminism" Is Back in Vogue                           1
          "Finding New Horizons for Korea in its Past: Th...    1
...                                                           ...
WORLDPOST Youth, Television and What Might Keep Afghanist...    1
          Zealot at South Coast Repertory                       1
          Zoo Animals Roam Free After Flooding In Tbilisi       1
          [IN&OUT KOREA] Anonymous Interview on Misogyny ...    1
          ‘Mindfulness' Gives Stressed-Out Bankers Someth...    1

                                                                                                            max
category  headline
ARTS      "@Large" and Absent, Ai Weiwei on Alcatraz          The United States' most storied island prison,...
          "Age Shall Not Weary Them" - Shakespeare and Me...  It's a phrase that resonates as we remember th...
          "Cartographia: Artifacts of a Creative Journey,...  This exhibition proposes that artists are mapm...
          "Feminism" Is Back in Vogue                         It's the first theatrical documentary of its k...
          "Finding New Horizons for Korea in its Past: Th...  For all the success of the TV series about the...
...                                                                                                         ...
WORLDPOST Youth, Television and What Might Keep Afghanist...  Ever since the Islamic State of Iraq and Syria...
          Zealot at South Coast Repertory
          Zoo Animals Roam Free After Flooding In Tbilisi
          [IN&OUT KOREA] Anonymous Interview on Misogyny ...
          ‘Mindfulness' Gives Stressed-Out Bankers Someth...

[208108 rows x 2 columns]

In [22]:
my_news = Index_Dataframe.index
type(my_news)

pandas.core.indexes.multi.MultiIndex

In [23]:
#However, in general the multi-index method you will 
#use most often is the one for converting back to a regular index, the reset_index() method:
Index_Dataframe.reset_index()

,category,headline,len,max
0,ARTS,"""@Large"" and Absent, Ai Weiwei on Alcatraz",1,"The United States' most storied island prison,..."
1,ARTS,"""Age Shall Not Weary Them"" - Shakespeare and M...",1,It's a phrase that resonates as we remember th...
2,ARTS,"""Cartographia: Artifacts of a Creative Journey...",1,This exhibition proposes that artists are mapm...
3,ARTS,"""Feminism"" Is Back in Vogue",1,It's the first theatrical documentary of its k...
4,ARTS,"""Finding New Horizons for Korea in its Past: T...",1,For all the success of the TV series about the...
...,...,...,...,...
208103,WORLDPOST,"Youth, Television and What Might Keep Afghanis...",1,Ever since the Islamic State of Iraq and Syria...
208104,WORLDPOST,Zealot at South Coast Repertory,1,
208105,WORLDPOST,Zoo Animals Roam Free After Flooding In Tbilisi,1,
208106,WORLDPOST,[IN&OUT KOREA] Anonymous Interview on Misogyny...,1,
208107,WORLDPOST,‘Mindfulness' Gives Stressed-Out Bankers Somet...,1,

In [24]:
#SORTNG
Index_Dataframe.reset_index().sort_values(by='len')

,category,headline,len,max
0,ARTS,"""@Large"" and Absent, Ai Weiwei on Alcatraz",1,"The United States' most storied island prison,..."
138446,SCIENCE,This Health Condition May Afflict Half The Wor...,1,Soaring nearsightedness -- driven by staring a...
138447,SCIENCE,This Is My Brain on Science,1,"You may ask, ""What is it like in a scientist's..."
138448,SCIENCE,This Is The 'Most Eccentric' Planet Yet Known,1,“It is a fascinating object!”
138449,SCIENCE,This Is The First Ever Full-Color Image Of Pluto,1,
...,...,...,...,...
159393,TECH,Watch The Top 9 YouTube Videos Of The Week,46,If you're looking to see the most popular YouT...
70137,HOME & LIVING,Weekly Roundup of eBay Vintage Home Finds (PHO...,54,Which item is your favorite? Leave me a commen...
155063,STYLE & BEAUTY,Weekly Roundup of eBay Vintage Clothing Finds ...,59,Which item is your favorite? Leave me a commen...
201197,WOMEN,The 20 Funniest Tweets From Women This Week,80,😂 😂 😂
118480,POLITICS,Sunday Roundup,90,With the nation mourning the victims of the Ch...

In [27]:
# Sorts DATAFRAME Values by lenth in Descending Order
Index_Dataframe.reset_index().sort_values(by='len' , ascending=False)

,category,headline,len,max
118480,POLITICS,Sunday Roundup,90,With the nation mourning the victims of the Ch...
201197,WOMEN,The 20 Funniest Tweets From Women This Week,80,😂 😂 😂
155063,STYLE & BEAUTY,Weekly Roundup of eBay Vintage Clothing Finds ...,59,Which item is your favorite? Leave me a commen...
70137,HOME & LIVING,Weekly Roundup of eBay Vintage Home Finds (PHO...,54,Which item is your favorite? Leave me a commen...
159393,TECH,Watch The Top 9 YouTube Videos Of The Week,46,If you're looking to see the most popular YouT...
...,...,...,...,...
69421,HOME & LIVING,Six Tips To Find Affordable Vintage Lighting I...,1,With the masses becoming more and more enamore...
69422,HOME & LIVING,Slacking on Rent Payments Can Cost You More Th...,1,"Get on track, stay on track, and don't let a f..."
69423,HOME & LIVING,Sleep Tight! Nightstand-Styling Secrets To Copy,1,"If there's one thing every bedroom needs, it's..."
69424,HOME & LIVING,Small Space Design Tips From NYC Pros,1,The dimensions of our apartments don't dictate...
208107,WORLDPOST,‘Mindfulness' Gives Stressed-Out Bankers Somet...,1,

In [25]:
Index_Dataframe.reset_index().sort_values(by='category')

,category,headline,len,max
0,ARTS,"""@Large"" and Absent, Ai Weiwei on Alcatraz",1,"The United States' most storied island prison,..."
1011,ARTS,Robert Wilson's Lady Gaga Portraits at The Wat...,1,
1010,ARTS,Robert Jackson: 'Tinkering with Reality',1,Painter Robert C. Jackson likes things... lots...
1009,ARTS,Ritualized Oligarchy and the Plight of Innocen...,1,There is a distinctly authoritarian directive ...
1008,ARTS,Richard Ford & Colm Tóibín Conversation: Narra...,1,The conversation between Colm Tóibín and Richa...
...,...,...,...,...
206389,WORLDPOST,Hong Kong More Volatile Than Ever Despite Loom...,1,
206390,WORLDPOST,Hong Kong Pro-Democracy Academics Say Receivin...,1,
206391,WORLDPOST,Hong Kong Protesters Clash With Police Near Go...,1,
206413,WORLDPOST,How Apps Can Cause Us to Take Fewer Risks in t...,1,"An ""app mentality"" or ""app consciousness"" -- t..."
208107,WORLDPOST,‘Mindfulness' Gives Stressed-Out Bankers Somet...,1,

In [29]:
#Getting the Data Tpypes of Dataframe entries
df.category.dtype

dtype('O')

In [30]:
df.date.dtype

dtype('<M8[ns]')

In [31]:
#Getting all datatypes
df.dtypes

link                         object
headline                     object
category                     object
short_description            object
authors                      object
date                 datetime64[ns]
dtype: object

In [ ]:
#It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function.

df.date.astype('float64')

In [33]:

#MISSING DATA
#Entries missing values are given the value NaN, short for "Not a Number".
# For technical reasons these NaN values are always of the float64 dtype.

df[pd.isnull(df.authors)]

Empty DataFrame
Columns: [link, headline, category, short_description, authors, date]
Index: []

In [35]:
df[pd.notnull(df.authors)]

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [37]:
df[pd.isnull(df.headline)]

Empty DataFrame
Columns: [link, headline, category, short_description, authors, date]
Index: []

In [38]:
#Replacing missing values is a common operation. 
#Pandas provides a really handy method for this problem: fillna(). fillna() 
# For example, we can simply replace each NaN with an "Unknown":
df.short_description.fillna("Unknown")

0         Health experts said it is too early to predict...
1         He was subdued by passengers and crew when he ...
2         "Until you have a dog you don't understand wha...
3         "Accidentally put grown-up toothpaste on my to...
4         Amy Cooper accused investment firm Franklin Te...
                                ...
209522    Verizon Wireless and AT&T are already promotin...
209523    Afterward, Azarenka, more effusive with the pr...
209524    Leading up to Super Bowl XLVI, the most talked...
209525    CORRECTION: An earlier version of this story i...
209526    The five-time all-star center tore into his te...
Name: short_description, Length: 209527, dtype: object

In [40]:
#Alternatively, we may have a non-null value that we would like to replace. 
df.authors.replace('Caroline Bologna','Carolina Anyango')

0         Carla K. Johnson, AP
1               Mary Papenfuss
2                Elyse Wanshel
3             Carolina Anyango
4               Nina Golgowski
                  ...
209522        Reuters, Reuters
209523
209524
209525
209526
Name: authors, Length: 209527, dtype: object

In [25]:
#What are the most News authors? 
#Create a Series counting the number of times each value occurs in the authors field. 
#This field is often missing data, so replace missing values with Unknown. 
#Sort in descending order. 
import pandas as pd
df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
news_per_Category = df.authors.fillna('Unknown').value_counts().sort_values(ascending=False)

In [24]:
#RENAMING AND COMBINING
#Renaming the Headline column to Title
df.rename(columns={'headline':'Title'})

,link,Title,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [27]:
#Renaming the Rows to FirstNewsEntry, SecondNewsEntry,ThirdNewsEntry etc
df.rename(index={0:'FirstNewsEntry',1:'SecondNewsEntry',2:'ThirdNewsEntry'})

,link,headline,category,short_description,authors,date
FirstNewsEntry,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
SecondNewsEntry,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
ThirdNewsEntry,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [29]:
#Renaming rows and Columns Tops using the rename_axis()  Method
df.rename_axis("News Properties", axis='rows').rename_axis("News Values", axis='columns')

News Values,link,headline,category,short_description,authors,date
News Properties,,,,,,
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [31]:
#COMBINING
#When performing operations on a dataset,
# we will sometimes need to combine different DataFrames and/or Series in non-trivial ways.
# Pandas has three core methods for doing this. In order of increasing complexity, 
#these are concat(), join(), and merge(). 
#Most of what merge() can do can also be done more simply with join()

df = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
dp = pd.read_json('C:\\Users\\n\\Downloads\\archive\\News_Category_Dataset_v3.json', lines=True)
#british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")
#When Combining the downloaded news Category Dataset with the british_youtube Dataset
#pd.concat([df,british_youtube ])
pd.concat([df,dp ])

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28